* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C4C4C4;
  color: black;
}

.navbar {
  background-color: #000000;
}

.nav-link {
  color: #FF9001;
}

.navbar-brand {
  color: #FF4200;
}

.nav-item {
  color: #C4C4C4;
}

#projects {
  margin-top: 500px;
}